<div class="container px-4">
  <div class="d-flex justify-content-between align-items-center py-4">
    <h3 class="title">Historial de Ordenes de Compra</h3>
    <div>
      <button class="btn-pdf-config mx-1" (click)="exportarPDF()">
        <i class="iconify" data-icon="fa-solid:file-pdf"></i> PDF
      </button>
      <button class="btn-excel-config ms-1" (click)="exportarExcel()">
        <i class="iconify" data-icon="file-icons:microsoft-excel"></i> EXCEL
      </button>
    </div>
  </div>
  <div class="input-group pb-3">
    <input type="text" class="form-control search-config" placeholder="Buscar..." [(ngModel)]="text" >
    <div class="dropdown">
      <button class="btn-dropdown-config" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="iconify" data-icon="uil:filter"></i> <span #texto> Cliente</span>
      </button>
      <ul class="dropdown-menu">
        <li><span class="dropdown-item" (click)="reloadFilterPedidos('cliente'); texto.textContent = ' Cliente'">Cliente</span></li>
        <li><span class="dropdown-item" (click)="reloadFilterPedidos('fecha'); texto.textContent = ' Fecha'">Fecha</span></li>
        <li><span class="dropdown-item" (click)="reloadFilterPedidos('usuario'); texto.textContent = ' Usuario'">Usuario</span></li>
        <li><span class="dropdown-item" (click)="reloadFilterPedidos('tipo_pago'); texto.textContent = ' Tipo pago'">Tipo pago</span></li>
      </ul>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table-config">
      <thead>
        <tr>
          <th>#</th>
          <th>Proveedor</th>
          <th></th>
          <th>F_emision</th>
          <th>F_entrega</th>
          <th>Usuario</th>
          <th>Estado</th>
          <th>Tipo Pago</th>
          <th>Total</th>
          <th>Mantenimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos | filterTable:nameColum:text:isModified | paginate: { id:'tabPedidos', itemsPerPage: 10, currentPage: page }; let i = index">
          <td>{{pedido.id}}</td>
          <td>{{pedido.proveedor}}</td>
          <td class="circle-image-container">
            <img class="circle-image" src="{{pedido.foto_proveedor}}" width="50" height="50" onerror="this.src='../../../assets/imgs/no-img.png'"/>
          </td>
          <td>{{pedido.fecha_emision | date:'d/M/yyyy h:mm:ss a'}}</td>
          <td>{{pedido.fecha_entrega !== null ? (pedido.fecha_entrega | date:'d/M/yyyy h:mm:ss a') : '------------'}}</td>
          <td>{{pedido.usuario}}</td>
          <td>
            <i *ngIf="pedido.estado === 'recibida'" class="iconify color-correct" data-icon="ooui:check-all"></i>
            <i *ngIf="pedido.estado === 'enviada'" class="iconify color-normal" data-icon="bi:send-check"></i>
            <i *ngIf="pedido.estado === 'anulada'" class="iconify color-cancelled" data-icon="ooui:cancel"></i>
            {{pedido.estado}}
          </td>
          <td>{{pedido.tipo_pago}}</td>
          <td>S/. {{pedido.total}}</td>
          <td>
            <div class="container-horizontal-buttons">
              <button *ngIf="pedido.estado !== 'anulada' && pedido.estado !== 'recibida'" class="btn-cancel-config" id="abrirModalCancel" data-bs-toggle="modal" data-bs-target="#anularModal" (click)="id=pedido.id">
                <i class="iconify" data-icon="mdi:cancel-box-multiple"></i>
              </button>
              <button *ngIf="pedido.estado !== 'anulada' && pedido.estado !== 'recibida'" class="btn-correct-config" (click)="recibir(pedido.id)">
                <i class="iconify" data-icon="fa6-solid:list-check"></i>
              </button>
              <button class="btn-download-config" (click)="descargar(pedido.id)">
                <i class="iconify" data-icon="ic:baseline-download"></i>
              </button>
              <button class="btn-preview-config" (click)="previsualizar(pedido.id)">
                <i class="iconify" data-icon="icon-park-outline:eyes"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ngx-pagination-container">
    <pagination-controls
      id="tabPedidos"
      class="ngx-pagination"
      (pageChange)="page = $event"
      (pageBoundsCorrection)="page = $event"
      [maxSize]="5"
      [directionLinks]="true"
      [responsive]="true"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      screenReaderPaginationLabel="Paginacion"
      screenReaderPageLabel="pagina"
      screenReaderCurrentLabel="Estas en la pagina">
    </pagination-controls>
  </div>
</div>

<!-- Ventana Modal -->
<div class="modal fade" id="anularModal" style="overflow-y: auto;" >
  <div class="modal-dialog-centered modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-general-head-modal">
        <h5 class="modal-title">Anular Orden #{{id}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #botonCerrar></button>
      </div>
      <div class="modal-body bg-general-body-modal">
        <form #anularForm="ngForm" (ngSubmit)="anular(anularForm,botonCerrar)">
          <div class="form-group mb-3">
            <label class="my-1 mb-2 text-white" for="motivo">Motivo de anulacion:</label>
            <textarea class="form-control input-form-config" rows="4" name="motivo" #motivo="ngModel" [(ngModel)]="mensaje" [ngClass]="{'is-invalid': motivo.errors && (motivo.touched || anularForm.submitted), 'is-valid': ! motivo.errors}" minlength="5" required></textarea>
            <div [hidden]="!motivo.errors?.['required']" class="invalid-feedback">Motivo requerido</div>
            <div [hidden]="!motivo.errors?.['minlength']" class="invalid-feedback">Minimo 5 caracteres</div>
          </div>
          <button [hidden]="true" #enviar type="submit"></button>
        </form>
      </div>
      <div class="modal-footer bg-general-body-modal">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="enviar.click()">Anular</button>
      </div>
    </div>
  </div>
</div>
