<div class="container">
  <div class="row row-cols-2">
    <div class="col-12 col-md-6">
      <form #proveedorForm="ngForm" >
        <section class="mt-3">
          <div class="container">
            <div class="row mb-3">
              <div class="col">
                <div class="title-form-container">
                  <span><i class="iconify" data-icon="material-symbols:real-estate-agent"></i> {{titleForm}}</span>
                  <img class="circle-image floating-min" id="openFoto" data-bs-toggle="modal" data-bs-target="#fotoModal" src="{{proveedor.foto}}" width="50" height="50" onerror="this.src='../../../assets/imgs/no-img.png'"/>
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col my-1">
                <button type="submit" class="btn-save-config" (click)="saveProveedor(proveedorForm,flashProveedor)">
                  <i class="iconify" data-icon="ion:save-sharp"></i> {{textBottonSave}}
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="mb-3">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="card config">
                  <div class="card-header">
                    <h4 class="pt-2">Datos de la Proveedor</h4>
                  </div>
                  <div class="card-body">
                    <flash-messages #flashProveedor></flash-messages>
                    <div class="form-group mb-3">
                      <label class="mt-1 mb-2" for="nombre">Nombre:</label>
                      <input class="form-control input-form-config" type="text" name="nombre" #nombre="ngModel" [(ngModel)]="proveedor.nombre" [ngClass]="{'is-invalid': nombre.errors && (nombre.touched || proveedorForm.submitted), 'is-valid': ! nombre.errors}" minlength="2" required >
                      <div [hidden]="!nombre.errors?.['required']" class="invalid-feedback">Nombre requerido</div>
                      <div [hidden]="!nombre.errors?.['minlength']" class="invalid-feedback">Minimo 2 caracteres</div>
                    </div>
                    <div class="form-group mb-3">
                      <label class="mt-1 mb-2" for="celular">Celuar:</label>
                      <input class="form-control input-form-config" type="number" name="celular" #celular="ngModel" [(ngModel)]="proveedor.celular" [ngClass]="{'is-invalid': celular.errors && (celular.touched || proveedorForm.submitted), 'is-valid': ! celular.errors }" pattern="[0-9]{9}" required >
                      <div [hidden]="!celular.errors?.['required']" class="invalid-feedback">Numero de celular requerido</div>
                      <div [hidden]="!celular.errors?.['pattern']" class="invalid-feedback">Son 9 digitos</div>
                    </div>
                    <div class="form-group mb-3">
                      <label class="mt-1 mb-2" for="correo">Correo:</label>
                      <input class="form-control input-form-config" type="email" name="correo" #correo="ngModel" [(ngModel)]="proveedor.correo" [ngClass]="{'is-invalid': correo.errors && (correo.touched || proveedorForm.submitted), 'is-valid': ! correo.errors }" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required >
                      <div [hidden]="!correo.errors?.['required']" class="invalid-feedback">Correo requerido</div>
                      <div [hidden]="!correo.errors?.['pattern']" class="invalid-feedback">Formato de correo invalido</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>
    </div>
    <div class="col-12 col-md-6">
      <div class="px-3">
        <div class="d-flex justify-content-between align-items-center py-4">
          <button class="btn-pdf-config me-1" (click)="exportarPDF()">
            <i class="iconify" data-icon="fa-solid:file-pdf"></i> PDF
          </button>
          <h3 class="title">Listado de Proveedores</h3>
          <button class="btn-excel-config ms-1" (click)="exportarExcel()">
            <i class="iconify" data-icon="file-icons:microsoft-excel"></i> EXCEL
          </button>
        </div>
        <div class="input-group pb-3">
          <input type="text" class="form-control search-config" placeholder="Buscar..." [(ngModel)]="text" >
          <div class="dropdown">
            <button class="btn-dropdown-config" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="iconify" data-icon="uil:filter"></i> <span #texto> Nombre</span>
            </button>
            <ul class="dropdown-menu">
              <li><span class="dropdown-item" (click)="reloadFilterProveedores('proveedor'); texto.textContent = ' Nombre'">Nombre</span></li>
            </ul>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table-config">
            <thead>
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Mantenimiento</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of proveedores | filterTable:nameColum:text:isModified | paginate: { id:'tabProveedores', itemsPerPage: 8, currentPage: page }; let i = index">
                <td>{{ ((page - 1) * 8) + (i + 1) }}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.celular}}</td>
                <td>{{item.correo}}</td>
                <td>
                  <div class="container-horizontal-buttons">
                    <button *ngIf="!(item.id === proveedor.id) && !isEditar" class="btn-edit-config me-2" (click)="setProveedor(item.id)">
                      <i class="iconify" data-icon="uil:edit"></i>
                    </button>
                    <button *ngIf="!(item.id === proveedor.id) && !isEditar" class="btn-remove-config" (click)="deleteProveedor(item.id)">
                      <i class="iconify" data-icon="bi:trash-fill"></i>
                    </button>
                    <button *ngIf="item.id === proveedor.id" class="btn-select-config" (click)="cleanProveedor()">
                      <i class="iconify" data-icon="octicon:x-12"></i> Deseleccionar
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ngx-pagination-container">
          <pagination-controls
            id="tabProveedores"
            class="ngx-pagination"
            (pageChange)="page = $event"
            (pageBoundsCorrection)="page = $event"
            [maxSize]="5"
            [directionLinks]="true"
            [responsive]="true"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            screenReaderPaginationLabel="Paginacion"
            screenReaderPageLabel="pagina"
            screenReaderCurrentLabel="Estas en la pagina">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="fotoModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{proveedor.foto}}" class="w-100 rounded" onerror="this.src='../../../assets/imgs/no-img.png'"/>
        <div class="d-flex justify-content-between mt-3">
          <label class="btn btn-primary">
            <i class="iconify" data-icon="fa-solid:upload"></i> Subir imagen
            <input class="d-none" type="file" id="inputImagen" (change)="onFileSelected($event)">
          </label>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">
            <i class="iconify" data-icon="fa-solid:save"></i> Guardar imagen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
